fastapi==0.115.6
uvicorn[standard]==0.34.0
pandas==2.2.3
numpy==2.2.1
pydantic-settings==2.7.1
python-dotenv==1.0.1
groq==0.13.1
langchain==0.3.13
langgraph==0.2.60
chromadb==0.5.23
sentence-transformers==3.3.1
